<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
           http://www.springframework.org/schema/beans/spring-beans.xsd
           http://www.springframework.org/schema/context
           http://www.springframework.org/schema/context/spring-context.xsd">
    <context:property-placeholder location="classpath:application.properties"/>

    <bean id="draw2d" class="com.bootcamp.shape.Draw2d"/>
    <bean id="draw3d" class="com.bootcamp.shape.Draw3d"/>

    <bean id="myCircle" class="com.bootcamp.shape.Circle">
        <constructor-arg ref="draw2d"/>
    </bean>

    <bean id="mySquare" class="com.bootcamp.shape.Square">
        <property name="myDraw2d" ref="draw2d"/>
    </bean>

    <bean id="dbOp" class="com.bootcamp.vehicle.DatabaseOps">
        <property name="url" value="${database.url}"/>
        <property name="username" value="${database.username}"/>
        <property name="password" value="${database.password}"/>
    </bean>

    <bean id="tempCar" class="com.bootcamp.vehicle.Car">
        <constructor-arg ref="dbOp"/>
    </bean>

    <bean id="tempPlane" class="com.bootcamp.vehicle.Plane">
        <property name="dbOp" ref="dbOp"/>
    </bean>

</beans>
